mixin product(product, showButton)
  li.span3
    .product-box
      span.sale_tag
      p
        a(href='/items/edit/'+product.id)
          img(src=product.image alt='')
      a.title(href='/items/edit/'+product.id)= product.name
      br
      // <a href="products.html" class="category">Group Enterprise</a>
      a.category= product.cat
      p.price= '$' + product.price
      if showButton
        .paypal-button(data-id=product.id)
